<div class="hero-container">
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1>Η επόμενη εμπειρία σου ξεκινάει εδώ</h1>
                <p>Κλείσε τώρα το εισιτήριό σου εύκολα, γρήγορα και με ασφάλεια</p>
                <!-- Search Bar -->
               <form class="search-bar" action="/search" method="get">
                    <input type="text" name="q" placeholder="Αναζήτηση εκδηλώσεων, τοποθεσίας, κατηγορίας...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </section>
    
<aside class="event-slider-container">
  <div class="background-circle"></div>
  <a id="slider-link" href="/event/{{sliderEvents.[0].id}}">
    <div class="slider">
      {{#each sliderEvents}}
        <img src="{{this.image}}" alt="{{this.title}}" class="slide {{#if @first}}active{{/if}}" data-link="/event/{{this.id}}" data-title="{{this.title}}">
      {{/each}}
    </div>
  </a>
</aside>
</div>

<div class="additional-sections">
    <hr>
    <a href="#Δημοφιλη" id="popular-link" data-category="Δημοφιλη">Δημοφιλή</a> |
    <a href="#Προτεινόμενα" id="recommended-link" data-category="Προτεινόμενα">Προτεινόμενα</a> |
    <a href="#Νέα" id="news-link" data-category="Νέα">Νέα</a> |
    <a href="#Κατηγορίες" id="categories-link" data-category="Κατηγορίες">Κατηγορίες</a> |
    <a href="#Θέατρο" id="theater-link" data-category="Θέατρο">Θέατρο</a> |
    <a href="#Μουσική" id="music-link" data-category="Μουσική">Μουσική</a> |
    <a href="#Σινεμά" id="cinema-link" data-category="Σινεμά">Σινεμά</a>
</div>

<br><br><br>
<div class="popular" id="Δημοφιλη">
    <h1 class="heading">
        <span>Δ</span>
        <span>Η</span>
        <span>Μ</span>
        <span>Ο</span>
        <span>Φ</span>
        <span>Ι</span>
        <span>Λ</span>
        <span>Η</span>
    </h1>
    <div class="box-container">
        {{#each events}}
<a href="/event/{{this.id}}" class="box-link">
  <div class="box">
      <img src="{{this.image}}" alt="">
      <div class="content">
          <h2><i class="fas fa-calendar"></i> {{this.date}}</h2>
          <span>{{this.title}}</span>
          <div class="place"><i class="fas fa-map-marker-alt"></i> {{this.place}}</div>
      </div>
  </div>
</a>
{{/each}}
    </div>
</div>

<script src="/src/slider.js"></script>
<script src="/src/updateHeading.js"></script>
"