<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/css/successful.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="no-header-footer">
  <div class="success-container">
    <div class="success-icon">✔️</div>
    <h1>{{pageTitle}}</h1>
    <p>{{message}}</p>
    <a href="{{linkURL}}" class="dashboard-link">{{linkText}}</a>
  </div>
</body>
</html>